@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --navyblue: #0B1D32;
  --mainblue: #27A2F8;
  --white: #FFFFFF;
  --navybluesoft: rgba(11, 29, 50, 0.2);
  --softerblue: rgba(39, 162, 248, 0.4);
  --middleblue: #004869;
  --cut-border-size: 16px;
  --cut-border-pos: -9px;
  --white-triangle-border: 4px solid white;
}


span.cut-r-b {
  position: absolute;
}
span.cut-r-b:hover:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 4px solid transparent;
  border-right: var(--white-triangle-border);
  border-bottom: var(--white-triangle-border);
  z-index: -1;
}
button.cut-r-b {
  overflow: hidden;
  position: relative;
  clip-path: polygon(0% 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%, 0% 0%);
}
button.cut-r-b:after {
  content: '';
  width: var(--cut-border-size);
  height: var(--cut-border-size);
  position: absolute;
  bottom: var(--cut-border-pos);
  right: var(--cut-border-pos);
  transform: rotate(45deg);
  background-color: var(--mainblue);
}

span.cut-r-t {
  position: absolute;
}
span.cut-r-t:hover:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  border: 4px solid transparent;
  border-right: var(--white-triangle-border);
  border-top: var(--white-triangle-border);
  z-index: -1;
}
button.cut-r-t {
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0);
}
button.cut-r-t:after {
  content: '';
  width: var(--cut-border-size);
  height: var(--cut-border-size);
  position: absolute;
  top: var(--cut-border-pos);
  right: var(--cut-border-pos);
  transform: rotate(45deg);
  background-color: var(--mainblue);
}

span.cut-l-t {
  position: absolute;
}
span.cut-l-t:hover:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border: 4px solid transparent;
  border-left: var(--white-triangle-border);
  border-top: var(--white-triangle-border);
  z-index: -1;
}

button.cut-l-t {
  overflow: hidden;
  position: relative;
  clip-path: polygon(10px 0%, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 10px);
}
button.cut-l-t:after {
  content: '';
  width: var(--cut-border-size);
  height: var(--cut-border-size);
  position: absolute;
  left: var(--cut-border-pos);
  top: var(--cut-border-pos);
  transform: rotate(45deg);
  background-color: var(--mainblue);
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

@layer base {
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  /* TODO: Remove unused fonts after tokens are finalized */

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskBlack-Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Niveau Grotesk Light SC';
    src: url('/font/NiveauGroteskLight-SmallCaps.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskBold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskLight-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskMedium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Niveau Grotesk Regular SC';
    src: url('/font/NiveauGroteskRegular-SmallCaps.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskExtraLight-Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Niveau Grotesk Medium SC';
    src: url('/font/NiveauGroteskMedium-SmallCaps.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskRegular-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Niveau Grotesk ExtraLight SC';
    src: url('/font/NiveauGroteskExtraLight-SmallCaps.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk Black SC';
    src: url('/font/NiveauGroteskBlack-SmallCaps.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Niveau Grotesk';
    src: url('/font/NiveauGroteskBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }
}
