.leaflet-container {
  @apply bg-navyblue;
}

.leaflet-pane {
  z-index: 1;
}

.leaflet-bottom .leaflet-control-scale {
  bottom: 56px;
  right: 78px;
}

.leaflet-control-scale-line {
  background: transparent;
  @apply text-mainblue;
  @apply border-mainblue;
}

.leaflet-control-scale-line:not(:first-child) {
  @apply border-mainblue;
}
